{% load static %}
<!-- https://www.youtube.com/watch?v=mgX-2_ybqNk -->
<!-- https://www.youtube.com/watch?v=TrsI4xbZILg -->
<!DOCTYPE html>
<html lang="en">
<head>

     <title>Image Classification App</title>
     <link rel="stylesheet" type="text/css" href="header.css">


</head>
<body>
     <header>
		<div class="container">
			<div class="logo">
				<a href="index.html">Image Classification App</a>
			</div>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="viewDataBase">Gallery</a></li>
				</ul>
			</nav>
		</div>
	</header>


     <div class="container">
          {% block content%}
          {% endblock %}
    
     </div>

     <footer>
		<div class="container">
			<nav>
				<ul>
					<li><a href="#">About</a></li>
					<li><a href="#">Contact</a></li>
					<li><a href="#">Home</a></li>
					<li><a href="#">Gallery</a></li>
				</ul>
			</nav>
			<p>&copy; 2023 Image Classification App. All rights reserved.</p>
		</div>
	</footer>

</body>
</html>
